<!-- <div *ngIf="posts; else noItems" class="card-wrapper">
        <app-post-item
        *ngFor="let post of posts; let i = index"
        [post]="post"
        [index]="i"
    >
    </app-post-item>
</div>

<ng-template #noItems>
    No Posts here
</ng-template> -->
<section class="blogs">
  <div class="box-container">
    <div class="box">
      <div class="image">
        <img src="../../../../assets/images/skin-diseases/Allergic-eczema-1296x728-body.jpeg" alt="" />
      </div>
      <div class="content">
        <div class="icon">
          <a href="#"> <i class="fas fa-calendar"></i> 1st may, 2021 </a>
          <a href="#"> <i class="fas fa-user"></i> By user_name </a>
        </div>
        <h3 class="sub-title">Facing Eczema</h3>
        <p>
          I was suffering from Eczema for a long time now. During this time of
          Covid I had serious problem of going to doctor and have a regular
          track over my recovery. 
        </p>
        <a href="#" class="btn">
          Read More <span class="fas fa-chevron-right"></span>
        </a>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="../../../../assets/images/skin-diseases/skin-and-scars-from-acne-1296x728-body.jpeg" alt="" />
      </div>
      <div class="content">
        <div class="icon">
          <a href="#"> <i class="fas fa-calendar"></i> 4th July, 2021 </a>
          <a href="#"> <i class="fas fa-user"></i> By user_name </a>
        </div>
        <h3 class="sub-title">Facing Acne</h3>
        <p>
          I was facing problem of acne, i tried thi app and found most
          useful.Now i am feeling good,i got a cleared skin, also My SLEEP
          ROUTINE that was fucked up before,now came to line.
        </p>
        <a href="#" class="btn">
          Read More <span class="fas fa-chevron-right"></span>
        </a>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="../../../../assets/images/skin-diseases/AcneRosacea-PageImage.jpeg" alt="" />
      </div>
      <div class="content">
        <div class="icon">
          <a href="#"> <i class="fas fa-calendar"></i> 3rd August, 2021 </a>
          <a href="#"> <i class="fas fa-user"></i> By user_name </a>
        </div>
        <h3 class="sub-title">Clear Changes</h3>
        <p>
          I am happy that I have regained my confidence. All this was taking a
          toll on my mental health and now I am here, sharing my journey with
          you all.
        </p>
        <a href="#" class="btn">
          Read More <span class="fas fa-chevron-right"></span>
        </a>
      </div>
    </div>
    <div class="box">
      <div class="image">
        <img src="../../../../assets/images/skin-diseases/womans-lips-with-cold-sores-1296x728-body.jpeg" alt="" />
      </div>
      <div class="content">
        <div class="icon">
          <a href="#"> <i class="fas fa-calendar"></i> 21st September, 2021 </a>
          <a href="#"> <i class="fas fa-user"></i> By user_name </a>
        </div>
        <h3 class="sub-title">Accurate Detection</h3>
        <p>
          INKU is an useful, I tried this type of app for the very first time and it
          gives result with so much accuracy. I cured my disease with this app.
        </p>
        <a href="#" class="btn">
          Read More <span class="fas fa-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
</section>
