<h1 class="heading">Skin Doctor <span>Near You</span></h1>

<p class="sub-heading">Showing doctors within a 5-kilometer radius</p>


<div class="map-container">
    <div #map class="g-map"></div>
</div>

<div *ngIf="doctorsList;else noDoctors">
<h1 class="heading">Explore <span>More</span></h1>
    <div class="card-container">
        <div class="card" *ngFor="let doctor of doctorsList">
            <h2 class="doctor-name">{{doctor.name}}</h2>
            <p><strong>Rating:</strong>{{doctor.rating}}</p>
            <p><strong>Venue:</strong>{{doctor.vicinity}}</p>
        </div>
    </div>
</div>

<ng-template #noDoctors>
<h1 class="heading">No <span>doctors</span> found</h1>

</ng-template>

