<h1 class="heading"><span>recommended</span> Doctors</h1>

<section class="doctors" id="doctors">
  <div class="box-container">
    <div class="box">
      <img src="../../../assets/images/Doctor/doc-1.jpg" alt="" />
      <h3>Dr. Madision</h3>
      <span>Skin Specialist</span>
      <div class="share">
        <a href="mailto:madision@gmail.com?Subject=INKU&body=Hi, this mail is from INKU to Dr. Madision, state your problem below" target="_blank" class="fas fa-envelope"></a>
        <a href="https://us04web.zoom.us/j/77514368806?pwd=mCisJykd5m0PIhIPz9uX9t-YMl31iW.1" target="_blank" class="fas fa-video"></a>
      </div>
    </div>

    <div class="box">
      <img src="../../../assets/images/Doctor/doc-2.jpg" alt="" />
      <h3>Dr. Leonardo</h3>
      <span>Skin Specialist</span>
      <div class="share">
        <a href="mailto:leonardo@gmail.com?Subject=INKU&body=Hi, this mail is from INKU to Dr. Madision, state your problem below" target="_blank" class="fas fa-envelope"></a>
        <a href="https://us04web.zoom.us/j/77514368806?pwd=mCisJykd5m0PIhIPz9uX9t-YMl31iW.1" target="_blank" class="fas fa-video"></a>
      </div>
    </div>

    <div class="box">
      <img src="../../../assets/images/Doctor/doc-3.jpg" alt="" />
      <h3>Dr. Thomas</h3>
      <span>Skin Specialist</span>
      <div class="share">
        <a href="mailto:thomas@gmail.com?Subject=INKU&body=Hi, this mail is from INKU to Dr. Madision, state your problem below" target="_blank" class="fas fa-envelope"></a>
        <a href="https://us04web.zoom.us/j/77514368806?pwd=mCisJykd5m0PIhIPz9uX9t-YMl31iW.1" target="_blank" class="fas fa-video"></a>
      </div>
    </div>
  </div>
</section>
<section class="book" id="book">
  <h1 class="heading">Book<span> An Appointment</span></h1>

  <div class="row">
    <div class="image">
      <img src="../../../assets/images/Waiting-rafiki.png" alt="" />
    </div>

    <form action="">
        <input type="text" placeholder="Enter your name" class="box" />
        <input type="text" placeholder="Enter your phone number" class="box" />
        <input type="email" placeholder="Enter your email" class="box" />
        <input type="date" class="box" />
        <textarea
          placeholder="Please state your problem / issue so that the Specialist can assist you in a best way."
          class="box"
          rows="6"
        ></textarea>
      <button type="submit" class="btn">Book Now</button>
    </form>
  </div>
</section>
<!-- <div #appointmentCalendar class="appointment-container"></div> -->
