<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
<section class="home" id="home">
  <div class="image">
    <img src="../../../assets/images/First aid kit-bro .png" alt="" />
  </div>

  <div class="content">
    <h3>Skin Care and Doctor Consultant System</h3>
    <p>
      Invest in your skin. It is going to represent you for a very long time.
    </p>
    <a
      href="#"
      class="btn"
      [routerLink]="['/appointments']"
      routerLinkActive="router-link-active"
    >
      See a Doctor <span class="fas fa-chevron-right"></span>
    </a>
  </div>
</section>
<section class="services" id="services">
  <div *ngIf="authService.userData as user">
    <h1 class="heading">INKU <span>services</span></h1>
    <div class="box-container">
      <div class="box">
        <i class="fab fa-searchengin"></i>
        <h3>Detect Disease</h3>
        <p>
          Upload image to detect your skin.
        </p>
        <a
          href="#"
          class="btn"
          [routerLink]="['/upload-image']"
          routerLinkActive="router-link-active"
        >
          Image Detection <span class="fas fa-chevron-right"></span>
        </a>
      </div>

      <div class="box">
        <i class="fas fa-laptop-medical"></i>
        <h3>Real Time Detection</h3>
        <p>
          Scan to know youe disease.
        </p>
        <a
          href="#"
          class="btn"
          [routerLink]="['/real-time']"
          routerLinkActive="router-link-active"
        >
          Virtual Detection <span class="fas fa-chevron-right"></span>
        </a>
      </div>
      <div
        class="box"
        [routerLink]="['/disease-tracker']"
        routerLinkActive="router-link-active"
      >
        <i class="fas fa-heartbeat"></i>
        <h3>Disease Tracker</h3>
        <p>
          Get your record in graph. 
        </p>
        <a
          href="#"
          class="btn"
          [routerLink]="['/disease-tracker']"
          routerLinkActive="router-link-active"
        >
          Your Tracker <span class="fas fa-chevron-right"></span>
        </a>
      </div>

      <div class="box">
        <i class="fas fa-people-arrows"></i>
        <h3>INKU Connect</h3>
        <p>
          Let community know about your experiences.
        </p>
        <a
          href="#"
          class="btn"
          [routerLink]="['/posts']"
          routerLinkActive="router-link-active"
        >
          Get Connected <span class="fas fa-chevron-right"></span>
        </a>
      </div>

      <div class="box">
        <i class="fas fa-user-md"></i>
        <h3>See a Doctor</h3>
        <p>
          Ask doctor for their expert advice.
        </p>
        <a
          href="#"
          class="btn"
          [routerLink]="['/appointments']"
          routerLinkActive="router-link-active"
        >
          Our Doctors <span class="fas fa-chevron-right"></span>
        </a>
      </div>

      <div class="box">
        <i class="fas fa-street-view"></i>
        <h3>Doctor Near Me</h3>
        <p>
          Get to know the doctors available near your loaction.
        </p>
        <a
          href="#"
          class="btn"
          [routerLink]="['/nearby-doctors']"
          routerLinkActive="router-link-active"
        >
          Near You <span class="fas fa-chevron-right"></span>
        </a>
      </div>
      <div class="box">
        <i class="fab fa-gratipay"></i>
        <h3>General Tips</h3>
        <p>
          Did you know ?
        </p>
        <a
          href="#"
          class="btn"
          [routerLink]="['/tips']"
          routerLinkActive="router-link-active"
        >
          Skin Tips <span class="fas fa-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
</section>
