@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

.heading {
  text-align: center;
  padding-top: 2rem;
  padding: 2rem;
  padding-bottom: 2rem;
  text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  color: #444;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.4rem;
}

.heading span {
  text-transform: uppercase;
  color: #0288d1;
}
.tracker-container {
  width: 65%;
  display: flex;
  justify-content: center;
}
.main-t-cont {
  display: flex;
  justify-content: center;
}
canvas {
  justify-self: center;
}

@media (max-width: 990px) {
  .tracker-container {
    width: 100%;
  }
}
